html {
background-color: mistyRose;
}

p {	
  background-color: gainsboro; 
}

img {
  border: moccasin 6px ridge; 
  width: 100px;
}

h1 {
  font: 'Trebuchet MS', sans-serif 48px normal; 
  color: slateBlue;
  box-shadow: 2px 4px gray;
}

h2 {
  margin: 0 auto 0 auto;
  color: slateBlue;
  text-shadow: 0 3px 0 gray;
}


h3 {
  margin: 0 auto 0 auto; 
  color: slateBlue;
  text-shadow: 0 3px 0 gray;
}

header {
  text-align: center;
}

a {
  text-decoration: underline; 
}	
